.video_card {
  width: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  height: fit-content;
  margin: 1rem;
  background-color: var(--BG_LIGHT);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  transition: transform var(--ANIM) 500ms;
}

.video_card:hover .videoCover {
  transform: scale(1);
  z-index: 2;
  transition: transform var(--ANIM) 600ms;
}

.videoCover {
  width: 100%;
  height: 12rem;
}

.thumbnail {
  object-fit: contain;
  width: 100%;
  display: block;
}

.preview {
  display: none;
  width: 100%;
}

.videoCover:hover > .thumbnail {
  display: none;
}

.videoCover:hover > .preview {
  display: block;
}

.videoText {
  height: 10rem;
  padding: 0.5rem 1.2rem;
  display: flex;
  gap: 8px;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  height: 50px;
  width: 80%;
  overflow: scroll;
}

.verified {
  color: var(--component-blue-04);
  font-size: 1.3rem;
  padding: 0 0.5rem;
}

.options {
  top: 15rem;
  right: 10px;
  transform: scale(0.8);
  cursor: pointer;
  z-index: 3;
  background-color: var(--BG);
  border: 2px solid var(--component-grey-01);
}

.options:hover {
  filter: brightness(0.9);
}

.dialog_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background-color: var(--BG);
  border-radius: 8px;
  padding: 1rem 0.75rem 0.25rem 0.75rem;
}

.miniDialog {
  padding: 2rem 0.75rem 2.5rem 0.75rem;
}

.showDialog {
  bottom: 0px;
  transition: bottom var(--ANIM) 600ms;
}

.hideDialog {
  bottom: -300px;
  transition: bottom var(--ANIM) 600ms;
}

.mini {
  width: 20rem;
}

.dialog {
  width: 80%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25 rem 0px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  color: var(--TEXT_INVERSE);
  background-color: var(--PRIMARY);
  transition: background-color var(--ANIM) 300ms;
}

.dialog:hover {
  background-color: var(--PRIMARY_DARK);
  transition: background-color var(--ANIM) 300ms;
  filter: brightness(0.95);
}

@media only screen and (max-width: 768px) {
  .video_card {
    width: 22rem;
    min-width: 20rem;
    height: 23rem;
  }

  .options {
    top: 15rem;
  }

  .videoText {
    height: 10rem;
  }
}
