.modal_container {
  min-width: 20rem;
  height: fit-content;
  max-height: 22rem;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--BG);
  border-radius: 8px;
  z-index: 6;
  flex-direction: column;
}

.modal_wrapper {
  position: fixed;
  inset: 0;
  background: rgba(100, 116, 139, 0.01);
  z-index: 50;
}

.hideModal {
  transform: scale(0);
  transition: transform var(--ANIM) 500ms;
}

.showModal {
  transform: scale(1);
  transition: transform var(--ANIM) 500ms;
}

.add_playlist {
  width: 90%;
  margin: 1rem 0;
}

.new_playlist {
  margin: 0 1rem;
  background-color: var(--BG_LIGHT);
  color: var(--TEXT);
  border: var(--BORDER);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: var(--white);
  border: 2px solid transparent;
  background-color: var(--BG_LIGHT);
  color: var(--TEXT);
  margin: 0.5rem;
  transition: all var(--ANIM) 500ms;
}

.btn:nth-child(2) {
  background-color: var(--PRIMARY);
  color: var(--TEXT_INVERSE);
}

.btn:nth-child(2):hover {
  background-color: var(--PRIMARY_DARK);
}

.btn:nth-child(1) {
  background-color: var(--BG);
  color: var(--TEXT);
  border: var(--BORDER);
  border-color: var(--PRIMARY);
}

.btn:nth-child(1):hover {
  background-color: var(--PRIMARY_LIGHT);
}

.btn_container {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.playlist_container {
  width: 90%;
  height: 10rem;
  padding: 1rem;
  overflow-y: scroll;
  margin: 1rem 0;
  border-radius: 16px;
  background-color: var(--BG_LIGHT);
}

.playlist {
  justify-content: flex-start;
  gap: 10px;
}

.dialog {
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25 rem 0px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  background-color: inherit;
  transition: background-color var(--ANIM) 300ms;
}

.dialog:hover {
  background-color: var(--HOVER_BG_ACTIVE);
  transition: background-color var(--ANIM) 300ms;
}
