.Navbar {
  width: 100%;
  height: 5rem;
  max-width: 100vw;
  padding: 1rem 1.5rem;
  background-color: var(--BG);
  color: var(--TEXT);
  align-items: center;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  z-index: 30;
  grid-area: navbar;
  gap: 1rem;
  border-bottom: var(--BORDER);
}

.Navbar_brand {
  align-items: center;
  color: var(--TEXT);
}

.logo_container {
  width: 3rem;
  height: 3rem;
}

.logo {
  width: 100%;
}

.links {
  width: 100%;
  transform: scale(1);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border-radius: 0;
  transform: scale(0);
  transition: transform var(--ANIM) 100ms;
  background-color: var(--BG_LIGHT);
}

.link:hover {
  border-radius: 0;
  filter: brightness(0.9);
}

.search_bar {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: var(--BG);
  background-color: var(--BG);
  color: var(--TEXT);
  width: 0;
  transition: width var(--ANIM) 100ms, opacity var(--ANIM) 200ms;
}

.search_bar:focus {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 2px solid var(--PRIMARY);
}

.search_bar_wrapper {
  position: relative;
  width: 50%;
}

.showSearch {
  width: 100%;
  filter: opacity(1);
  border: var(--BORDER);
  background-color: var(--BG_LIGHT);
  transition: width var(--ANIM) 500ms, opacity var(--ANIM) 400ms;
}

.userOptions {
  position: absolute;
  width: 12rem;
  height: 0rem;
  top: 7rem;
  right: 2rem;
  padding: 0;
  background-color: var(--BG_LIGHT);
  border-radius: 8px;
  transition: height var(--ANIM) 500ms, transform var(--ANIM) 500ms;
}

.showOptions {
  height: fit-content;
  transition: height var(--ANIM) 500ms;
}

.showOption {
  transform: scale(1);
  transition: transform var(--ANIM) 500ms 100ms;
}

.search_results {
  display: flex;
  position: absolute;
  height: fit-content;
  width: 100%;
  left: 0;
  top: 2.8rem;
  background-color: var(--BG);
  border-radius: 0 0 8px 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  border-bottom: var(--BORDER);
  border-left: var(--BORDER);
  border-right: var(--BORDER);
  z-index: 20;
  cursor: pointer;
}

.search_result_card {
  display: inherit;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5rem;
}

.search_result_card:hover {
  background-color: var(--BG_LIGHT);
}

.search_result_card p {
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 1.2rem;
}

ul {
  width: 100%;
}

.search_bar::placeholder {
  font-weight: bold;
  color: var(--GREY_TEXT);
}

@media only screen and (max-width: 768px) {
  .Navbar {
    height: 9rem;
    gap: 20px;
  }
  .btn_wrapper {
    order: 2;
  }

  .search_bar_wrapper {
    order: 3;
    width: 100%;
  }

  .Navbar_brand {
    flex-grow: 1;
  }
  .hero {
    display: none;
  }
  .search_bar {
    width: 100%;
    order: 2;
    transition: opacity var(--ANIM) 200ms;
    border: 3px solid var(--component-grey-01);
    background-color: var(--BG_LIGHT);
    caret-color: var(--PRIMARY);
  }

  .showSearch {
    width: 100%;
    transition: opacity var(--ANIM) 400ms;
  }

  .search_bar:focus {
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 3px solid var(--PRIMARY);
  }

  .btn_wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .searchIcon {
    display: none;
  }
}
