.sidebar {
  position: fixed;
  grid-area: sidebar;
  top: 9rem;
  height: 100%;
  background-color: var(--BG);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 8;
  border-right: var(--BORDER);
}

.showSidebar {
  left: 00px;
  transition: left var(--ANIM) 500ms;
}

.closeSidebar {
  left: -10rem;
  transition: left var(--ANIM) 500ms;
}

.sidebar_item {
  padding: 0;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: var(--HOVER_BG_ACTIVE);
}

.sidebar_item:hover {
  filter: brightness(0.6);
}

.sidebar_items {
  padding: 1rem;
  gap: 10px;
}
:global .active {
  color: var(--BG);
  padding: 0;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background-color: var(--PRIMARY);
  border-bottom: 2px solid var(--component-grey-01);
}

:global .active span {
  padding: 0;
}

:global .active:hover {
  background-color: var(--component-red-02);
  filter: brightness(1);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    top: unset;
    bottom: 0;
    height: unset;
    width: 100%;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-between safe;
    overflow-x: scroll;
  }

  .showSidebar {
    left: unset;
    bottom: 0px;
    transition: bottom var(--ANIM) 500ms;
  }

  .sidebar_items {
    padding: 1rem 0.75rem;
  }

  .sidebar_icon {
    padding: 1rem;
    font-size: 1rem;
  }

  .closeSidebar {
    left: unset;
    bottom: -10rem;
    transition: bottom var(--ANIM) 500ms;
  }

  .sidebar_label {
    font-size: 1rem;
  }
}
