.videos_container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--BG);
  padding: 0 1rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.dialog {
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25 rem 0px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  background-color: inherit;
  transition: background-color var(--ANIM) 300ms;
}

.dialog:hover {
  background-color: var(--HOVER_BG_ACTIVE);
  transition: background-color var(--ANIM) 300ms;
}

.page_header {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--BG);
  color: var(--TEXT);
}

.trash_btn {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .videos_container {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    padding: 0;
  }
}
