.videos_container {
  display: flex;
  justify-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--BG);
  padding: 0 0 0 5rem;
  width: calc(100vw - 6rem);
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.dialog {
  width: 80%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25 rem 0px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  color: var(--TEXT_INVERSE);
  background-color: var(--PRIMARY);
  transition: background-color var(--ANIM) 300ms;
}

.dialog:hover {
  background-color: var(--PRIMARY_DARK);
  transition: background-color var(--ANIM) 300ms;
  filter: brightness(0.95);
}

.page_header {
  height: fit-content;
  width: calc(100vw - 6rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 2rem;
  background-color: var(--BG);
  color: var(--TEXT);
}

.trash_btn {
  margin-left: auto;
}

.no_search_result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 768px) {
  .videos_container {
    width: 100vw;
    padding: 1rem 0;
    justify-content: center;
  }

  .page_header {
    width: 100vw;
    padding: 2rem;
  }
}
