.videos_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--BG);
  padding: 0 1rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.pill {
  border: 2px solid var(--GREY_TEXT);
  align-items: center;
  border-radius: 1.5rem;
  padding: 0;
  padding: 0.25rem 0.75rem;
}

.pill_container {
  justify-content: center;
  padding: 1rem 2rem;
}

.dialog {
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25 rem 0px;
  margin-bottom: 1rem;
  border-radius: 8px;

  font-size: small;
  font-weight: bold;
  background-color: inherit;
  transition: background-color var(--ANIM) 300ms;
}

.dialog:hover {
  background-color: var(--HOVER_BG_ACTIVE);
  transition: background-color var(--ANIM) 300ms;
}

@media only screen and (max-width: 768px) {
  .pill_container {
    justify-content: center;
    padding: 1rem 2rem;
  }
}
