@import "https://iridescent.vercel.app/stylesheets/reset.css";
@import "https://iridescent.vercel.app/stylesheets/utils.css";
@import "https://iridescent.vercel.app/stylesheets/index.css";

:root {
  --BG: hsl(0, 0%, 100%);
  --BG_LIGHT: white;
  --PRIMARY: var(--component-red-05);
  --PRIMARY_LIGHT: var(--component-red-01);
  --PRIMARY_HOVER: var(--component-red-04);
  --TEXT: hsla(0, 0%, 0%, 1);
  --TEXT_INVERSE: #ffffff;
  --GREY_TEXT: var(--component-grey-02);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--component-grey-01);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.App {
  font-family: "Manrope", sans-serif;
  min-width: 100vw;
  background-color: var(--CARD_BG);
  color: var(--TEXT);
  min-height: 100vh;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto;
  grid-template-areas: "navbar" "content";
  transition: background-color var(--ANIM) 1000ms;
}

.dark-mode {
  --BG: #151316;
  --BG_LIGHT: #272528;
  --PRIMARY: var(--component-red-05);
  --PRIMARY-LIGHT: var(--component-red-02);
  --TEXT: white;
  --TEXT_INVERSE: #ffffff;
  --GREY_TEXT: var(--component-grey-04);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid transparent;
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.light-mode {
  --BG: white;
  --BG_LIGHT: white;
  --PRIMARY: var(--component-red-05);
  --PRIMARY-LIGHT: var(--component-red-02);
  --TEXT: hsla(0, 0%, 0%, 1);
  --TEXT_INVERSE: #ffffff;
  --GREY_TEXT: var(--component-grey-04);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--component-grey-01);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.transparent-btn {
  background-color: transparent;
  border: 0px;
}

.btn_action {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG);
  color: var(--TEXT);
  border-radius: 50px;
}

.btn_action:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG_ACTIVE);
  color: var(--TEXT);
  border: var(--BORDER);
}

.content {
  grid-area: content;
}

.default {
  background-color: var(--BG);
  color: var(--TEXT);
  width: 100%;
}

.grey_text {
  color: var(--GREY_TEXT);
}

.bottom_border {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--component-grey-01);
}

.m1t {
  margin-top: 1rem;
}

.p1side {
  padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-rows: 9rem auto;
  }
}
