@import "https://iridescent.vercel.app/stylesheets/reset.css";
@import "https://iridescent.vercel.app/stylesheets/utils.css";
@import "https://iridescent.vercel.app/stylesheets/index.css";

:root {
  --BG: #fefefe;
  --BG_LIGHT: #fdfeff;
  --PRIMARY: var(--component-red-05);
  --PRIMARY_LIGHT: var(--component-red-01);
  --PRIMARY_HOVER: var(--component-red-04);
  --PRIMARY_DARK: #c40e0a;
  --TEXT: hsla(0, 0%, 0%, 1);
  --TEXT_INVERSE: #ffffff;
  --GREY_TEXT: var(--component-grey-02);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--component-grey-01);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.App {
  font-family: "Manrope", sans-serif;
  min-width: 100vw;
  background-color: var(--CARD_BG);
  color: var(--TEXT);
  min-height: 100vh;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 5rem auto;
  grid-template-areas: "navbar navbar" "sidebar content";
  transition: background-color var(--ANIM) 1000ms;
}

.dark-mode {
  --BG: #151316;
  --BG_LIGHT: #272528;
  --PRIMARY: var(--component-red-05);
  --PRIMARY-LIGHT: var(--component-red-02);
  --PRIMARY_DARK: #c40e0a;
  --TEXT: white;
  --TEXT_INVERSE: #000;
  --GREY_TEXT: var(--component-grey-01);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--BG_LIGHT);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.light-mode {
  --BG: #fffefd;
  --BG_LIGHT: #f6f6f6;
  --PRIMARY: var(--component-red-05);
  --PRIMARY-LIGHT: var(--component-red-02);
  --PRIMARY_DARK: #c40e0a;
  --TEXT: hsla(0, 0%, 0%, 1);
  --TEXT_INVERSE: #ffffff;
  --GREY_TEXT: var(--component-grey-04);
  --HOVER_BG: transparent;
  --HOVER_BG_ACTIVE: hsla(0, 0%, 80%, 0.3);
  --BORDER: 2px solid var(--component-grey-01);
  --ANIM: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.transparent-btn {
  background-color: transparent;
  border: 0px;
}

.btn_action {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG);
  color: var(--TEXT);
  border-radius: 50px;
  padding: unset;
  margin: 0 1rem;
}

.btn_action > .material-icons {
  font-size: 1.5rem;
}

.btn_action:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--HOVER_BG_ACTIVE);
  color: var(--TEXT);
  border: var(--BORDER);
}

.trash_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  width: fit-content;
  margin-left: auto;
  padding: 0.75rem 1rem;
  font-weight: bold;
  color: var(--PRIMARY);
  background: var(--BG);
  border: 2px solid var(--PRIMARY);
  border-radius: 12px;
  cursor: pointer;
  z-index: 20;
}

.trash_btn:hover {
  background: var(--PRIMARY_DARK);
  color: var(--TEXT_INVERSE);
}

.content {
  grid-area: content;
}

.default {
  background-color: var(--BG);
  color: var(--TEXT);
  width: 100%;
}

.full-width {
  width: 100%;
}

.grey_text {
  color: var(--GREY_TEXT);
}

.inset {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.bottom_border {
  border-bottom: var(--BORDER);
}

.m1t {
  margin-top: 1rem;
}

.p2side {
  padding: 0 2rem;
}

.p1side {
  padding: 0 1rem;
}

.p1b {
  padding-bottom: 1rem;
}

.p1t {
  padding-top: 1rem;
}

.brand-color {
  color: var(--PRIMARY);
}

.margin-left {
  margin-left: auto;
}

.relative {
  display: relative;
}

.absolute {
  display: absolute;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-rows: 9rem auto 5rem;
    grid-template-columns: 1fr;
    grid-template-areas: "navbar navbar" "content content" "sidebar sidebar";
  }
}
